.pageTitle {
  margin-top: 70px;
  margin-bottom: 50px;
}

.categoryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 900px;
  margin: 0 auto 30px;

  :global {
    * {
      user-select: none;
    }
  }
}

@media(max-width: 768px) {
  .categoryList {
    width: auto;
  }
  .pageTitle {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}