.partnersList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  margin-right: 14px;
}

.showMore {
  width: 184px;
  height: 48px;
  font-size: 18px;
  display: block;
  margin: 0 auto;
}

@media(max-width:768px) {
  .partnersList {
    justify-content: center;
  }
  .card {
    width: 260px;
    margin-right: none;
  }
  .showMore {
    width: 170px;
    height: 36px;
    font-size: 14px;
    margin: 0 auto;
  }
}